
/*~~~~~~~~~~~~~~~~~
       RESET
~~~~~~~~~~~~~~~~~~*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
}


/*~~~~~~~~~~~~~~~~~
       LAYOUT
~~~~~~~~~~~~~~~~~~*/

.block {
    display: block;
}
.text-center {
    text-align: center;
}
.col-oneThird {
    width: calc(100% / 3);
}
.visible-xs {
    display: none;
}

/*
    POSITIONS
*/
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.top-left {
    top: 0;
    left: 0;
}
.top-right {
    top: 0;
    right: 0;
}
.w-full {
    width: 100%;
}

/*
    FLEXBOX
*/
.flex {
    display: flex;
    flex-wrap: wrap;
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-items: center;
}
.jc-sb {
    justify-content: space-between;
}

/*~~~~~~~~~~~~~~~~~~~~~~~
      Transitions
~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* .fadeInUp {
    transform: translateY(-15px);
    opacity: 0;
    transition: transform 1000ms ease-out, opacity 1000ms ease-out;
    will-change: transform, opacity;
}
.fadeInDown {
    transform: translateY(15px);
    opacity: 0;
    transition: transform 1000ms ease-out, opacity 1000ms ease-out;
    will-change: transform, opacity;
}
.fadeInDown.isAnimated,
.fadeInUp.isAnimated {
    transform: translateY(0);
    opacity: 1;
}
.delayedOne {
    transition-delay: 300ms;
}
.fadeIn {
    opacity: 0;
    transition: opacity 1000ms ease;
}
.fadeIn.isAnimated {
    opacity: 1;
} */